/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

:root {
  --ion-font-family: 'Kanit', sans-serif;
}

body {
  font-family: 'Kanit', sans-serif;
}